body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
}

#game-container {
    position: relative;
    width: 80%;
    height: 80%;
    border: 2px solid #fff;
}

#dosbox-canvas {
    width: 100%;
    height: 100%;
}
